:root {
  --primary-color: #0071BF;
  --secondary-color: #09CB4B;
}

body,
#root {
  font-family: 'Poppins', sans-serif;
}

.border-primary {
  border-color: var(--primary-color) !important;
}

.bg-primary {
  background: var(--primary-color) !important;
}

.text-primary {
  color: var(--primary-color) !important;
}

.btn-primary {
  background-color: var(--primary-color);
}

.btn-secondary {
  background-color: var(--secondary-color);
}

.carousel-indicators button {
  border-radius: 100%;
  height: 16px !important;
  background-color: #fff;
  border: 2px solid #fff;
  box-shadow: none;
}

.carousel-indicators .active {
  background-color: var(--primary-color) !important;
}

.sidebar {
  width: 60px;
  background-color: #FFFFFF;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
  position: fixed; 
  height: 100%;
  transition: transform 0.3s ease; 
  z-index: 1000; 
}

.sidebar.closed {
  transform: translateX(-150%); 
}

.sidebar.open {
  transform: translateX(0); 
}

.sidebar-item {
  width: 40px;
  height: 40px;
  margin: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  transition: background-color 0.3s;
}

.sidebar-item:hover {
  background-color: #e2e6ea;
}

.rounded-8{
  border-radius: .8rem!important;
}

.rounded-4{
  border-radius: .4rem!important;
}


.rounded-start-cell {
  border-top-left-radius: 0.8rem !important;
  border-bottom-left-radius: 0.8rem !important;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.rounded-end-cell {
  border-top-right-radius: 0.8rem !important;
  border-bottom-right-radius: 0.8rem !important;
  border-top-left-radius: 0; 
  border-bottom-left-radius: 0; 
}